{# tohle je základní template, ostatní od něj dědí a vkládají do něj svůj content #}

{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<title>MULTube - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
	</head>
	<body>
		<div id="view">
			<div id="content">
				<div id="header">
					<div id="search">
						<form action="{% url 'search' %}">
							{% csrf_token %}
							{{ searchform.term }}
							<input type="submit" value="Hledat" />
						</form>
					</div>
				</div>
				<div id="text-wrapper">
					<div id="left">
						<h3> Hlavní menu </h3>
						<ul>
							<li><a href="{% url 'index' %}">Videa</a></li>
							<li><a href="{% url 'tags' %}">Tagy</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'upload' %}">Nahrát video</a></li>
								<li><a href="{% url 'profile' user.id %}">Můj profil</a></li>
								<li><a href="{% url 'logout' %}">Odhlásit</a></li>
							{% else %}
								<li><a href="{% url 'login' %}">Přihlásit</a></li>
							{% endif %}
						</ul>
					</div>
					<div id="text">
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% block content %}{% endblock %}
					</div>
					<div id="footer">
						&copy; Zdeněk Biberle (xbiber00) &amp; Josef Řídký (xridky00)
						<br> projekt do předmětu MUL
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
