{% extends 'home/base.html' %}
{% load comment_paragraphs %}

{% block title %}
	{{ video.name }}
{% endblock %}

{% block content %}
	{% if user == video.user %}
		<form action="{% url 'edit_video' video.id %}" method="post">
			{% csrf_token %}
			{{ editform.name }}
	{% else %}
		<h2>{{ video.name }}</h2>
	{% endif %}
	<video width="720" height="405" controls>
		<source src="{{ video.get_video_url }}" type="video/webm">
		Váš prohlížeč bohužel nepodporuje přehrávání videí.
	</video> 
	{% if user == video.user %}
			{{ editform.description }}<br/>
			<input type="submit" class='cbutton' value="Uložit změny"/>
		</form>
	{% else %}
		{{ video.description|comment_paragraphs }}
	{% endif %}
	
	<p>{{ video.datetime }} nahrál <a href="{% url 'profile' video.user.id %}">{{ video.user.username }}</a></p>
	<h3>Tagy</h3>
	{% include 'home/tag_list.html' with tag_list=tags %}
	
	{% if user.is_authenticated %}
	<h3>Komentovat</h3>
	<form action="{% url 'post_comment' video.id %}" method="post">
		{% csrf_token %}
		{{ commentform }}
		<input type="submit" value="Přidat komentář"/>
	</form>
	{% endif %}
	
	<h3>Komentáře</h3>
	{% include "home/comment_list.html" with comment_list=comments empty_msg="K tomuto videu nejsou žádné komentáře" %}
{% endblock %}
