{% extends 'home/base.html' %}

{% block content %}

<h3>{% block title %}Přihlášení{% endblock %}</h3>

{% if form.errors %}
<ul class="errorlist"><li>Kombinace jména a hesla nebyla nalezena.</li></ul>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>

<tr>
	<td colspan='2' align='center'><input type="submit" value="Přihlásit" /></td>
</tr>
</table>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
